@tailwind base;
@tailwind components;
@tailwind utilities;

*{/* Hide scrollbar for Firefox */
scrollbar-width: none;

/* Hide scrollbar for IE, Edge */
-ms-overflow-style: none;
}
/* Hide scrollbar for Chrome, Safari, Opera */
::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none;
}
